<a href="/movies">Movies</a>
<a href="/directors">Directors</a>
<a href="/actors">Actors</a>
<br>

<h1>Edit Actor #<%= @actor.id %></h1>
<br>
<form action="/actors/update/<%= @actor.id %>">
    <div class="">
  <label for="name">Name</label>
  <input id="name" type = "text" name="the_name" placeholder="Name" value="<%= @actor.name %>">
  </div>
  <div>
      <label for="bio">Bio</label>
      <input id="bio" type = "integer" name="the_bio" placeholder="Bio" value="<%= @actor.bio %>">
    </div>
    <div>
        <label for="dob">DOB</label>
        <input id="dob" type = "integer" name="the_dob" placeholder="DOB" value="<%= @actor.dob %>">
      </div>
    <div>
      <label for="image_url">Image URL</label>
      <input id="image_url" type="text" name="the_image_url" placeholder="Image url" value="<%= @actor.image_url %>">
    </div>
    <div>
      <button>EDIT ACTOR</button>
    </div>
  </form>
