<div>
  <h1>Edit Actor #<%= @actor.id %></h1>
</div>

<form action="/actors/update/<%= @actor.id %>">
  <!-- Label and input for dob -->
  <div>
    <label for="dob">
      Dob:
    </label>
    <div>
      <input type="text" id="dob" name="the_dob" placeholder ="Date of birth" value="<%= @actor.dob %>">
    </div>
  </div>

  <div>
    <label for="name">
      Name:
    </label>
    <div>
      <input type="text" id="name" name="the_name" placeholder ="Name" value="<%= @actor.name %>">
    </div>
  </div>

  <div>
    <label for="bio">
      Bio:
    </label>
    <div>
      <input type="text" id="bio" name="the_bio" placeholder ="Bio" value="<%= @actor.bio %>">
    </div>
  </div>

  <div>
    <label for="image_url">
      Image url:
    </label>
    <div>
      <input type="text" id="image_url" name="the_image_url" placeholder ="Image url" value="<%= @actor.image_url %>">
    </div>
  </div>

  <div>
    <div>
    </div>
    <div>
      <input type="submit" value="Update">
    </div>
  </div>
</form>
