<h1>Actor #<%= @actor_id %></h1>
<hr>
<dl>
  <dt>Dob</dt>
  <dd><%= @actor_dob %></dd>

  <dt>Name</dt>
  <dd><%= @actor_name%> </dd>

  <dt>Bio</dt>
  <dd> <%= @actor_bio %> </dd>

  <dt>Image</dt>
  <dd><img src="<%= @actor_img %>" width="200"/></dd>
</dl>
