<h1>Edit Movie #<%=  @d.id %></h1>
<form action="/update_movie/<%=  @d.id %>">
  <label>Title</label>
  <input type = "text" name="new_title" placeholder="Title" value="<%=  @d.title  %>">

  <div><label>Year</label>
    <input type = "text" name="new_year" placeholder="Year" value="<%=  @d.year  %>"></div>

    <div><label>Duration</label>
      <input type = "text" name="new_duration" placeholder="Duration" value="<%=  @d.duration  %>"></div>

      <div><label>Description</label>
        <texarea name="new_description" placeholder="Description" value="<%=  @d.description  %>" rows="3"></texarea></div>

        <div><label>Image url</label>
          <input type = "text" name="new_image" placeholder="Image url" value="<%=  @d.image_url  %>"></div>

          <div><label>Director</label>
            <%= select_tag(:new_director_id, options_from_collection_for_select(Director.all, :id, :name, 5), :class => "form-control") %>
          </div>
          <button>Update Movie</button>
        </form>
