<div>
  <h1>Edit Movie #<%= @movie.id %></h1>
</div>

<form action="/update_movie/<%= @movie.id %>">
  <!-- Label and input for title -->
  <div>
    <label for="title">
      Title
    </label>
    <div>
      <input type="text" id="title" name="title" placeholder="Title" value="<%= @movie.title %>">
    </div>
  </div>

  <!-- Label and input for year -->
  <div>
    <label for="year">
      Year
    </label>
    <div>
      <input type="text" id="year" name="year" placeholder="Year" value="<%= @movie.year %>">
    </div>
  </div>

  <!-- Label and input for duration -->
  <div>
    <label for="duration">
      Duration
    </label>
    <div>
      <input type="text" id="duration" name="duration" placeholder="Duration" value="<%= @movie.duration %>">
    </div>
  </div>

  <!-- Label and input for description -->
  <div>
    <label for="description">
      Description
    </label>
    <div>
      <textarea id="description" name="description" placeholder="Description" rows="3"><%= @movie.description %></textarea>
    </div>
  </div>

  <!-- Label and input for image_url -->
  <div>
    <label for="image_url">
      Image url
    </label>
    <div>
      <input type="text" id="image_url" name="image_url" placeholder="Image url" value="<%= @movie.image_url %>">
    </div>
  </div>


  <div>
    <div>
      <input type="submit" value="Update Movie" class="btn btn-primary">
    </div>
  </div>
</form>
