
<div class="page-header">
  <h1>Detailed information for <%= @movie.title %></h1></div>

<img src="<%= @movie.image_url %>" width = "300">

<p>Year of release: <%=@movie.year  %></p>
<p>Movie duration: <%=@movie.duration  %></p>
<p>Movie description: <%=@movie.description  %></p>

<p><h3>Click <a href="http://localhost:3000/movies/<%= @movie.id %>/edit_form">Here</a> to edit movie details</h3></p>
