<h1>Director #<%= @director_id %></h1>
<hr>
<dl>
  <dt>Dob</dt>
  <dd><%= @director_dob %></dd>

  <dt>Name</dt>
  <dd><%= @director_name%> </dd>

  <dt>Bio</dt>
  <dd> <%= @director_bio %> </dd>

  <dt>Image</dt>
  <dd><img src="<%= @director_img %>" width="200"/></dd>
</dl>
