
<div class="page-header">
  <h1>Detailed information for <%= @director.name %></h1></div>

<img src="<%= @director.image_url %>" width = "300">

<p>DOB: <%=@director.dob  %></p>
<p>Bio: <%=@director.bio  %></p>

<p><h3>Click <a href="http://localhost:3000/directors/<%= @director.id %>/edit_form">Here</a> to edit director details</h3></p>
